/* Responsive video gallery */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  flex-wrap: wrap;
}

.resp-iframe {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.resp-container {
  width: 45%;
  padding: 10px;
  display: inline-block;
}



.resp-iframe iframe,
.resp-iframe video {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .resp-container {
    width: 90%;
    margin: 0 auto;
  }
}


/* Year Selector */

.year-selector-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.year-selector-container ul {
  list-style: none;
}

.year-selector-container ul li {
  display: inline-block;
  margin-right: 1rem;
  background-color: #e62b1e;
  border-radius: 15px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.year-selector-container ul .active-year-button {
  background-color: #66130D;
}